<h2> Edit Manager </h2>

<form (ngSubmit)="updateManger(updatedManger)" >
	
	<label for="name"> name: </label>
	<input name="name" [(ngModel)]="updatedManger.name">

	<label for="email"> email: </label>
	<input name="email" [(ngModel)]="updatedManger.email">

	<label for="office_number"> office number: </label>
	<input name="office_number" [(ngModel)]="updatedManger.office_number">

	<label for="cell_phone_number"> cell phone number: </label>
	<input name="cell_phone_number" [(ngModel)]="updatedManger.cell_phone_number">

	<input type="submit" value="Update" >
</form>